*.swp
*.o
*.so
pkgIndex.tcl
Makefile
core
vgcore.*
/configure
/autom4te.cache
/config.log
/config.status
/config.h
doc/parse_args.n
last
prof
tags
*~
*.gcda
*.gcno
/build
/buildwin
/subprojects/.wraplock
/subprojects/packagecache
/subprojects/tcl
/subprojects/libtommath-*
/doc/parse_args.md
